<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label" style="color: black;" >Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" style="color: black;" placeholder="Name" id="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label" style="color: black;">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" style="color: black;" placeholder="Password" id="password">
                    </div>
                </div>
                <a class="btn btn-primary" (click)="login(name,password)">Login</a>
                <!-- <a class="btn btn-primary"  (click)="loginFB()">Log in with Facebook</a> -->
            </div>
        </div>
    </div>
</div>