<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
            <form>
                    <div class="form-group">
                        <label for="email"  style="color: black;" >Email address:</label>
                        <input type="email" class="form-control" id="email" style="color: black;">
                    </div>
                    <div class="form-group">
                        <label for="pwd"  style="color: black;">Password:</label>
                        <input type="password" class="form-control" id="pwd" style="color: black;">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" style="color: black;"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <span>
                    <a class="btn btn-primary"  (click)="loginFB()">Log in with Facebook</a>
                </span>
    </div>
</div>